body{
  text-align: center;
  color: #C5C6C7;
  background: #0B0C10;
  font-size: 16px;
}

button {
  background-color: #00000000; /* Green */
  border: 2px solid #24A29E;
  color: #C5C6C7;
  font-size: 16px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  margin: 4px 2px;
}

button:hover {
  background-color: #24A29E;
  color: #C5C6C7;
}

h1, h2, h3, h4{
  color: #66fcf1;
}

input{
  color: #C5C6C7;
  background-color: #1F2833;
  border: 2px solid #24A29E;
  font-size: 16px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
}

input:focus {
  background-color: #1F2833
}


.List{
  margin-top: 30px;
  display:grid;
  grid-template-columns: 50% 50%;
  font-size: 18px
}

.ListContainer > button{ 
  display: inline-block
}

ul{
  list-style-type: none;
  display: flex;
  justify-content: center
}

.bntLink{
  background-color: #00000000;
  border: 2px solid #24A29E;
  color: #C5C6C7;
  font-size: 16px;
  padding: 5px 16px 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  margin: 4px 2px;
}

.bntLink:hover{
  background-color: #24A29E;
  color: #C5C6C7;
}

.box{
  width:50%;
  margin-left: auto;
  margin-right: auto;
}
.detailsList{
  display: list-item;
  text-align:left
}

.delete:hover{
  background-color:rgb(131, 20, 20)
}
